body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav.menu{
text-align: center;
background-color: rgb(177, 177, 177);
width: 150px;
}

.Active{
    background-color: black;
    /*  color: white; etki etmez, cunku ana sayfa yazisi a tag'inin icerisindedir */
}

a.link{
    color: white
}

a{
    color: black;
    text-decoration: none;
}